/* Reset Basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
}

.game-board {
    position: relative;
    width: 80%;
    height: 500px;
    border: 1px solid #333; 
    margin: 100px auto;   
    overflow: hidden;
}

.mario {
    position: absolute;
    width: 100px;
    bottom: 0;
}
.jump {
    animation: jump-mario 500ms;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 50px;
    animation : pipe-animation 3s infinite linear;
}

/* animations */
@keyframes jump-mario {
    0% {
        bottom: 0;
    }
    40%, 50%, 60% {
        bottom: 120px;
    }
  
    100% {
        bottom: 0;
    }
}

@keyframes pipe-animation{
    from {
        right: -50px;
    }
    to {
        right: 100%;
    }
}